<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs', {isUserRegistered: isUserRegistered, userProfileView: userProfileView, username: username}) %>

    <div class="container">
        <h1>User Profile</h1>
    </div>

<div class="container">
    <h1>Profile of : <%= username %></h1>
    <div>
        <h2>Information:</h2>
        <p>Name: <%= userInfo.name %></p>
        <!-- TODO: Password should be hidden as default and have a button to be seen as text -->
        <p>Password: <%= userInfo.password %></p>
        <p>Email: <%= userInfo.email %></p>
        <p>Age: <%= userInfo.age %></p>
        <p>Gender: <%= userInfo.gender %></p>
    </div>
</div>

<div class="container">
    <a class="waves-effect waves-light btn" href="/user/edit-profile">Edit Profile</a>
</div>
    
<%- include('partials/footer.ejs') %>